<h1>About us</h1>
<p class="justified">
<strong>Bestiaz</strong> was born in 2011 with the aim of offering technical products to all-level sportsmen and sportswomen, beginners and experts. For the first ones, we offer a selection that highlights the quality-price relation. For the second ones, we serve them the top-notch material existing in the market.<strong> Bestiaz</strong> is a company created by athletes, for athletes. Not just for the beginners but also for the most exigent clients. But we all share our passion for the sport.
</p>

<p class="justified">
In our e-commerce platform,  the client obtains an important added value against the conventional shops: A 24 hours / 7 days a week service. Whenever, from everywhere. All the displacements to physical shops disappear, therefore both the seller and the buyer save time and costs. In Bestiaz we bet for creating a modern and competitive website where we can offer an agile and optimal service to the client.
</p>

<p class="justified">
The Bestiaz x-factor is the professionalism of its components. A solid technical and management knowledge are combined with a relevant professional experience in the search of a total excellence in the service. Their members want to give, in a concise and agile way, a new approach to the distribution and sales in Spain.
</p>

<p class="justified">
<strong>
  "Everything you are looking for, we give it to you... for the best price and right away" ,
</strong>, this is our slogan.
<br/>
<br/>
</p>
<p>
<%= image_tag "who_we_are/facealfon_scaled.jpg", :class => "bes-align-left bes-frame"  %> 
<h3>
Alfonso Izquierdo. CEO. 
</h3>
</p>
<p class="justified">
Computer engineer by the University of Valladolid. After finishing his studies in Belgium he decided to set up Bestiaz, a new adventure that undertakes and leads since the beginning of 2011.
</p>

<p class="justified">
In Bestiaz, apart from being the main responsible of the company, he is responsible of the Sales and Marketing department, and the financial area. His technical knowledge makes him being an active element in the programming activities of the online site <%= link_to "www.bestiaz.com", root_path %>. 
</p>

<p class="justified">
Usual and active runner, he got remarkable results when he was a Junior.
</p>

<br/>
<br/>

<p>
<%= image_tag "who_we_are/facefer.jpg", :class => "bes-align-right bes-frame"  %> 
</p>
<h3 style="margin:0px 120px 20px 70px;">Fernando Izquierdo. IT Manager </h3>
<p class="justified">
Telecommunications Engineer by the University of Valladolid and Bioinformatics Master by the University of Hamburg. He has six years of experience in the IT sector. Living since 2005 in Germany, he has lived in several cities: Munich , Hamburg, Berlin, and finally settled down in Heidelberg.
</p>

<p class="justified">
Currently, he is training at the club SV Nikar Triathlon Heidelberg, he likes running  endurance athletics and triathlon competitions.
</p>

<p class="justified">
In Bestiaz he is responsible of all the IT activities, and specially the ones involving the online site <%= link_to "www.bestiaz.com", root_path %>. He is also responsible of all the relations with providers and distributors in Germany and Central Europe.
</p>
<br/>
<br/>

<p>
<%= image_tag "who_we_are/facealex_scaled.jpg", :class => "bes-align-left bes-frame"  %> 
<h3>Alejandro Izquierdo. Operations Director.</h3>
</p>
<p class="justified">
Aeronautical Engineer by the Polytechnic University of Madrid and Degree in Business Administration. During his more than ten years of professional experience he has been on charge of many management positions in different enterprises, specializing in the last years in Purchases to high-technical providers in Europe and North America. Passionate of sport, he has specialized in Ultra and alpine competitions, most of them reflected in his personal web page <%= link_to "www.alejandroizquierdo.com", "http://www.alejandroizquierdo.com" %>.
</p>

<p class="justified">
In Bestiaz he is the Operations Responsible and specialist in the US market.
</p>
