<%= stylesheet_link_tag "staticpage" %>

<h1>Nuestros Atletas</h1>

<h2> <strong> Fran Vacas</strong>, ciclista de ultrafondo (Record mundial 1000km) </h2>
<table border="0" summary="Fran Vacas"  style="margin: 30px 300px 20px 70px;">
  <td>
    <%= image_tag "our_athletes/fran_vacas_scaled.JPG", :class => "bes-frame" %>
  </td>
  <td>
    <p style="margin: 30px 200px 20px 70px;">
    Fran Vacas, ciclista de ultrafondo. Desde 2011 Fran Vacas es uno de nuestros atletas bestiaz. Puedes seguir a Fran en <%= link_to "http://www.franvacas.org", "http://www.franvacas.org" %>  
    <p>
  </td>
</tr>
</table>
</p>

<h3>Logros deportivos</h3>

<div id="incontent"> 
  <ul>
    <li>
 Finalista 6 carreras de ultrafondo de 100 km corriendo. (1999-2005).
(2004 15º de la general, 2005 20º de la general)
   </li>
      
    <li>
 Ingreso en el Real Velo Club Portillo. (2006,2007).
   </li>

    <li>
 Finalista Ironman de Lanzarote. (2006,2007,2008).
   </li>

    <li>
 Ingreso en el Club de Triatlón Aguaverde. (2008,2009).
   </li>

    <li>
 Finalista Desafío Tecama (7 kms nadando, 850 kms de bici, 84 kms , corriendo) en 61.50 horas. (2008) http://desafio-tecama-08.blogspot.com
   </li>

    <li>
 Finalista Ironcat (2009). 22º de la general.
   </li>

    <li>
 Brevets Ciclistas de 200, 300, 400 y 600 kms. (2009)
   </li>

    <li>
 1º en la Ciclomaratón Madrid/Gijón/Madrid de 1200 kms. (2009)
Rebajando el Record de la prueba en tres horas habiéndolo fijado en 57:55 horas.
   </li>

    <li>
 Record Mundial de 1.000 kms Outdoor en el velodromo municipal de Talavera de la reina. 6 de Junio del 2010.
estableciendo el tiempo de 31.23.1.93
   </li>

    <li>
100 millas outdoor: 4:15:00 Record de España.
   </li>
    <li>
200 millas outdoor: 9:03:02 Record de España.
   </li>
    <li>
24 horas outdoor: 778.49 kms. Record de Europa y Segundo mejor registro del mundo.
05 de Junio de 2010.
   </li>

    <li>
 Contrareloj Al-Andalus, días 25,26,27,28 y 29 de agosto del 2010. 2000 kms en 101 horas.
   </li>

    <li>
 Record Mundial de 1.000 km Road en San Martin de la Vega. 8 de mayo de 2011.
Estableciendo el tiempo de 31.01.16.
24 horas Road: 790.97 km. Record de España.
   </li>
  </ul>
</div> 

<h2> <strong> Rubén Almendro</strong>, triatleta (Ironman Hawaii 2011) </h2>
<table border="0" summary="Ruben Almendro"  style="margin: 30px 300px 20px 70px;">
  <td>
    <%= image_tag "our_athletes/ruben_almendro_scaled.JPG", :class => "bes-frame" %>
  </td>
  <td>
    <p style="margin: 30px 200px 20px 70px;">
    Rubén Almendro, triatleta de larga distancia. En octubre 2011 Rubén participará en el campeonato de l mundo Ironman en Kona, Hawaii. Puedes seguir a Ruben en su <%= link_to "blog","http://ametsenkaxa.blogspot.com/" %>  
    <p>
  </td>
</tr>
</table>
</p>

<h3>Logros deportivos</h3>

<div id="incontent"> 
  <ul>
    <li>
     IM Roth 2008        9h51´
    </li>
    <li>
     IM Lanzarote 2009  10h31´
    </li>
    <li>
     IM Lanzarote 2010  10h10´
    </li>
    <li>
     IM Regensburg 2010  9h48´
    </li>
    <li>
     IM Lanzarote 2011  10h05´ (Clasificado para Hawaii2011)
    </li>
    <li>
     IM Zurich 2011     10h22´
    </li>

    <li>
     1/2 IM Zarauz 2007                4h58´
    </li>
    <li>
     1/2 IM Zarauz 2008                4h31´
    </li>
    <li>
     1/2 IM Zarauz 2009                4h40´
    </li>
    <li>
     1/2 IM Valle de Buelna 2009       4h44´
    </li>
    <li>
     1/2 IM Wiesbaden 2009             4h56´
    </li>
    <li>
     1/2 IM Titan Sierra de Cádiz 2009 5h45´
    </li>
    <li>
     1/2 IM Elche 2010                 4h23´ (1.Clasificado GGEE 25-29)
    </li>
    <li>
     1/2 IM Valle de Buelna 2010       4h48´
    </li>
    <li>
     1/2 IM Titan Sierra de Cádiz 2010 5h31´
    </li>
  </ul>
</div> 
