<div class="container_cabe"><!--container cabe añadida para que la cabecera cuadre con el cuerpo-->
  <div id="relleno"></div>
  <div id="menu_cab">
    <div id="inicio_link"><%= link_to "INICIO" , root_path %></div>
    | <%= link_to " Blog" , "http://blog.bestiaz.com/blog" %>
    | <%= link_to " Quienes somos" , pages_who_we_are_path %>
    | <%= link_to " Nuestros Atletas" , pages_our_athletes_path %>
    | <%= link_to "Bdev" , pages_bdev_path %>
  </div>
</div>
<br />
