<% # taxon is a helper from ApplicationHelper, note this depends on how we call the taxon (nav menu)  %>
<% [ "Atletismo", "Varios", "Nutrici贸n", "Ciclismo", "Nataci贸n"] %>

<table border="1px" height="260px">
  <tr><td>
      <%= link_to((image_tag 'homelinks/Atletismo_1.png', :mouseover => 'homelinks/Atletismo_2.png'), seo_url(taxon("Atletismo"))) %><br />
  </td></tr>
  <tr><td>
      <%= link_to((image_tag 'homelinks/Atletismo_1.png', :mouseover => 'homelinks/Atletismo_2.png'), seo_url(taxon("Atletismo"))) %><br />
  </td></tr>
  <tr><td>
      <%= link_to((image_tag 'homelinks/Ciclismo_1.png', :mouseover => 'homelinks/Ciclismo_2.png'), seo_url(taxon("Ciclismo"))) %><br />
  </td></tr>
  <tr><td>
      <%= link_to((image_tag 'homelinks/Natacion_1.png', :mouseover => 'homelinks/Natacion_2.png'), seo_url(taxon("Nataci贸n"))) %><br />
  </td></tr>
  <tr><td>
      <%= link_to((image_tag 'homelinks/Nutricion_1.png', :mouseover => 'homelinks/Nutricion_2.png'), seo_url(taxon("Nutrici贸n"))) %><br />
</td></tr></table>
