<% if not content_for?(:sidebar) %>
    <%= link_to(image_tag('social/wordpress.png'), 'http://blog.bestiaz.com/blog') %>
    <%= link_to(image_tag('social/twitter.png'), 'http://twitter.com/#!/bestiazShop') %>
    <%= link_to(image_tag('social/facebook.png'), 'http://es-la.facebook.com/people/BestiazOnline-Tienda/100002273787518?sk=info') %>
  <% else %>
    <h3>Síguenos:</h3>
    <%= link_to(image_tag('social/wordpress.png'), 'http://blog.bestiaz.com/blog') %>
    <%= link_to(image_tag('social/twitter.png'), 'http://twitter.com/#!/bestiazShop') %>
    <%= link_to(image_tag('social/facebook.png'), 'http://es-la.facebook.com/people/BestiazOnline-Tienda/100002273787518?sk=info') %>
<% end %>

