<% if not content_for?(:sidebar) %>
    <tr><td width="100px">
    <h3>Síguenos:</h3></td><td width="130px">
    <%= link_to(image_tag('social/wordpress.png'), 'http://blog.bestiaz.com/blog') %>
    <%= link_to(image_tag('social/twitter.png'), 'http://twitter.com/#!/bestiazShop') %>
    <%= link_to(image_tag('social/facebook.png'), 'http://es-la.facebook.com/people/BestiazOnline-Tienda/100002273787518?sk=info') %>
		</td>
  <% else %>
    <tr><td width="160px">
    <h3>Síguenos:</h3>
    <%= link_to(image_tag('social/wordpress.png'), 'http://blog.bestiaz.com/blog') %>
    <%= link_to(image_tag('social/twitter.png'), 'http://twitter.com/#!/bestiazShop') %>
    <%= link_to(image_tag('social/facebook.png'), 'http://es-la.facebook.com/people/BestiazOnline-Tienda/100002273787518?sk=info') %>
		</td>
<% end %>

